<div class="details" [ngStyle]="'background-image': getImage(movie.name)">
  <div class="overlay">
    <div class="mb-3">
      <app-nav-bar></app-nav-bar>
    </div>
  <div class="container">
<div class="row text-white">
  <div class="col-md-6">
    <img [src]="movie?.imageUrl" alt="">
      <div class="font-weight-bold">
    {{movie?.name}}
    </div>
    <div>
      <label class="font-weight-bold" for="">Time: </label> {{movie?.time}}</div>
    <div> <span class="font-weight-bold">Plot: </span> {{movie?.plot}}</div>
    </div>
    </div>

  </div>
</div>

</div>
