<div class="details" [ngStyle]="{
  'background-image': 'url(' + movie.bgImg + ')',
  'background-repeat': 'no-repeat',
  'background-position': 'center',
  'background-size': 'cover'
}">
  <div class="overlay">
    <div class="mb-3">
      <app-nav-bar></app-nav-bar>
    </div>
  <div class="container">
<div class="row text-white">
  <div class="col-md-6">
    <div>
      <label class="font-weight-bold" for="">Time: </label> {{movie?.time}}</div>
    <div> {{movie?.plot}}</div>
    </div>
    </div>

  </div>
</div>

</div>
