<div class="details" [ngStyle]="{
  'background': 'url(' + movie.bgImg + ') no-repeat center center fixed',
  'background-size': 'cover',
  'min-height.%': '100',
  'min-width.%': '100'
}">
  <div class="overlay">
    <div class="mb-3">
      <app-nav-bar></app-nav-bar>
    </div>
  <div class="container">
<div class="row text-white">
  <div class="col-md-6">
    <div>
      <label class="font-weight-bold" for="">Time: </label> {{movie?.time}}</div>
    <div> {{movie?.plot}}</div>
    </div>
    </div>

  </div>
</div>

</div>
