.details{
  background: rgb(42, 42, 43);


}
.overlay{
  background-color: rgba(0,0,0, 0.7);
  overflow: hidden;
  height: 100vh;
}
.row{
  margin-top: 25% !important;
  font-size: large;
  word-spacing: 5px;
}
