<div class="container-fluid firstPlace">
    <div class="overlay">
      <nav class="navbar">
      <a  href="/Home">
        <img src="../../assets/Rectangle 1 (1).png" alt="">
      </a>
    <form id="searchForm"  class="form-inline" action="">
        <input type="search" name="searchTerm" class="form-control mr-sm-2" placeholder="Search for your favourite movies" id="">
      <button class="btn my-2 my-sm-0">
        Search
      </button>
    </form>
      </nav>
  <div class="container-fluid">
      <app-movie-list></app-movie-list>
    </div>
  </div>
  </div>
