<div class="container-fluid firstPlace">
    <div class="overlay">
  <div class="row">
    <div class="col-6 mt-3">
      <a  href="/Home">
        <img src="../../assets/Rectangle 1 (1).png" alt="">
      </a>
    </div>
    <div class="col-6 mt-3">
      <a class="float-right text-decoration-none link btn text-light" href="/Login">Login</a>
    </div>
  </div>

  <div class="jumbotron text-center text-light">
    <h3>Are you ready to pipe down</h3>
    <p class="mt-4">Watch your favorite movies free for the first month</p>
    <p class="mt-4">We will remind you 3 days before expiry</p>
    <a class="text-decoration-none text-center link btn text-light" href="/join">Try now</a>
  </div>

</div>
</div>
<div class="body">
  <div class="container">
  <div class="row text-white"id="imageRow">
    <div class="col-md-6 mb-2 ">
      <h2>Enjoy On your TV</h2>
      <p>Watch on Smart tvs, consoles, Blu-ray players, and More</p>
    </div>
    <div class="col-md-6 mb-2 photos">
      <img src="../../assets/mib.jpg" alt="">
    </div>
  </div>

<a href="" class="btn btn-light text-dark form-control m-4 text-left font-weight-bold  text-center" id="faqlink" data-toggle="modal" data-target="#FAQ">
   Frequently asked questions

</a>
  <div class="modal fade" id="FAQ" tabindex="-1" role="dialog" aria-labelledby="Frequentlyaskedquestions" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
  <footer>
  <div class="d-flex flex-wrap">

    <a href="" class="text-decoration-none  m-3">FAQ</a>
    <a href="" class="text-decoration-none  m-3">Help Center</a>
    <a href="" class="text-decoration-none m-3">Contact Us</a>
    <a href="" class="text-decoration-none m-3">Eligibity</a>
    <a href="" class="text-decoration-none m-3">Terms & Conditions</a>
    <a href="" class="text-decoration-none m-3">Plans</a>
    <a href="" class="text-decoration-none m-3">Media Center</a>
    <a href="" class="text-decoration-none m-3">Speed Tests</a>
    <a href="" class="text-decoration-none m-3">Account</a>
  </div>
  <p class="text-center text-light m-3">
      Pipes Copyright &copy; 2019
    </p>
  </footer>
</div>
</div>
