<div class="register">
  <div class="overlay">
      <div class="container-fluid firstPlace">
          <div class="row">
            <div class="col-6 mt-3">
              <a  href="/Home">
                <img src="../../assets/Rectangle 1 (1).png" alt="">
              </a>
            </div>
          </div>
          <div class="container">
            <div class="card card-form">
              <div class="card-body">
                <form action="" [formGroup]="registerForm" (ngSubmit)="submit()" autocomplete="off" novalidate>
                    <h2 class="text-white form-group text-center mb-4">REGISTER</h2>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"  [ngClass]="{'error':registerForm.controls.firstName.invalid && registerForm.controls.firstName.touched }" >
                            <em *ngIf="registerForm.controls.firstName.invalid && registerForm.controls.firstName.touched">Required</em>
                          <input type="text" formControlName="firstName" id="firstName" class="form-control" placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'error':registerForm.controls.lastName.invalid && registerForm.controls.lastName.touched }" >
                            <em *ngIf="registerForm.controls.lastName.invalid && registerForm.controls.lastName.touched ">Required</em>
                          <input  formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last name" required>
                        </div>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'error':registerForm.controls.email.invalid && registerForm.controls.email.touched }" >
                      <em *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched && registerForm.controls.email.errors.required ">Required</em>
                      <em *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.errors.pattern">Enter a valid Email</em>
                      <em *ngIf= "registerForm.controls.email.invalid && registerForm.controls.email.errors.serverError">Email already registered</em>
                    <input formControlName="email" id="email" type="email"  class="form-control" placeholder="Email" required>
                  </div>
                  <div class="form-group" [ngClass]="{'error':registerForm.controls.phone.invalid && registerForm.controls.phone.touched }" >
                      <em *ngIf="registerForm.controls.phone.invalid && registerForm.controls.phone.touched ">Required</em>
                    <input formControlName="phone" id="phone" type="tel" class="form-control" placeholder="080..." required>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'error':registerForm.controls.password.invalid && registerForm.controls.password.touched }" >
                      <em *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.touched && registerForm.controls.password.errors.required)">Required</em>
                      <em *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.errors.minlength">Too short</em>
                    <input formControlName="password" id="password" type="password" class="form-control" id="" placeholder="Password" required>
                  </div>
                  </div>
                  <div class="col-md-6">
                  <div class="form-group " [ngClass]="{'error':registerForm.controls.password2.invalid && registerForm.controls.password2.touched }" >
                      <em *ngIf="registerForm.controls.password2.invalid && registerForm.controls.password2.touched && registerForm.controls.password2.errors.confirm">password missmatch</em>
                      <em *ngIf="registerForm.controls.password2.invalid && registerForm.controls.password2.touched && registerForm.controls.password2.errors.required">Required</em>
                    <input formControlName="password2" id="password2" type="password"  class="form-control my-3" id="" placeholder="Confirm Password" required>
                  </div>
                  </div>
                  </div>
                  <span class="font-weight-bold" id="remember" ><p>got an account?  <a class="font-weight-normal" href="/Login">Sign In</a></p></span>
                  <div class="  mt-2">
                    <button type="submit" [disabled]="!registerForm.valid" class="btn form-control">Join now</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
  </div>
</div>
